html, body {
  margin: 0;
  padding: 0;

  background-color: lavenderblush;
}

canvas {
  margin:auto;
  display: block;
}

h1 {
  text-align: center;
  color: purple;
}

p {
  text-align: center;
  color: blue;
}
